<link rel="stylesheet" href="/css/user_profile.css">

<h1>Codeial / <%= title%></h1>
<h2>Profile page</h2>

<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>

<% if(user.id == profile_user.id){%>
    <%#  if user matches then show the update/edit form %>
    <form action="/users/update/<%= profile_user.id %>" method="POST">
      <h3>Edit/Update profile</h3>
      <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name%>" required>
      <input type="text" name="email" placeholder="Your Email" value="<%= profile_user.email%>" required>
      <input type="submit" value="Update">
    </form>
<% }else{ %>
    <%# else show only the profile info %>
    <p> Name: <%= profile_user.name%> </p>
    <p> Email: <%= profile_user.email%> </p>
<% } %>
